.footer {
    width: 100%;
    background-color: #181818;
    height: auto;
    padding: 20px 0;
    position: relative;
    z-index: 2;
    .social-media {
        margin-top: 15px;
    }
    .line-vertical{
        font-size: 100px;
        margin: 0 auto 20px;
    }
}
.form {
    background-color: $color-grey-light;
    padding: 20px 5px;
    margin: 10px 10px;
}
.form-group {
    margin: 0;
    padding: 10px;
}
.form-item {
    color: $color-white;
    background-color:$color-grey-light;
    border: none;
    border-bottom:1px solid $color-white;
    padding: 0;
}
.contact-label {
    font-size: 14px;
    margin: 0;
}
.form-control {
    padding: 0;
    margin: 0;
    color: $color-white;
    background-color: $color-grey-light;
    border: none;
    border-bottom: 1px solid $color-white;
}
.form-control:focus {
    color: $color-white;
    background-color:$color-grey-light;
    border-color: none;
    border-bottom: 1px solid $accent-color;
    outline: 0;
    box-shadow: none;
}
.footer--btn {
    display: block;
    margin: 35px auto;
    padding: 5px 20px;
    background-color: $accent-color;
    text-transform: uppercase;
    border-radius: 0;
    .btn--arrow {
        margin-left: 5px;
        width: 18px;
        height: 18px;
    }
}
.footer-description {
    margin: 0;
    font-size:11px;
    .distinguish {
        font-size: 12px;
    }
}
.footer-headline {
    margin: 15px 0 10px;
    font-size: 18px;
}
.conditions {
    margin-top: 5px;
    padding: 10px;
    .conditions-description {
        padding-left: 5px;
        font-size: 12px;
        text-transform: none;
    }
    .asterisk {
        color: $color-error;
        font-size: 14px;
     }
}
.error {
    color: $color-error;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
}
.hidden {
    display: none;
}

@include media-breakpoint-up(sm) {
    .footer-description {
        line-height: 28px;
    }
    .footer {
        .social-media {
            margin-top: 10px;
        }
    }
    .form-item {
        margin-top: 15px;
    }
    .error {
        position: absolute;
        top: 25px;
    }
    .error-email {
        position: absolute;
        top: 40px;
    }
}
@include media-breakpoint-up(md) {
    .form {
        margin: 0 70px;
    }
}

@include media-breakpoint-up(lg) {
    .form {
        margin: 0 170px 50px;
        padding: 20px 110px;
    }
    .conditions {

        .conditions-description {
            font-size: 14px;
        }
        .asterisk {
            font-size: 18px;
         }
    
    }
}

