nav {
  z-index: 999;
}
.menu { 
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .95;
  &.navbar-light {
    .navbar-nav {
      .active>.nav-link.menu__link--color{
        color: $accent-color;
      }
    }
  }
}
.menu { 
  &.navbar-light {
    .navbar-nav {
      .menu__link--color{
        color: $color-grey-dark;
      }
    }
  }
}
.menu__logo {
  width: 45px;
  height: 45px;
}

.vertical-line {
  font-size: 26px;
  margin: 0 10px 0 10px;
  color: $accent-color;
}
