// hamburger navigation
.mobile-nav {
    position: relative;
    text-align: center;
        a {
        color: $color-white;
        padding: 0 16px;
        font-size: 16px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
      }
      .icon {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}
.menu-mobile {
    display: none;
    a {
        padding-bottom: 15px;
    }
}
.opened {
   display: block;
   overflow: hidden;
   background-color: rgba($color-black, .55);
   padding: 45px 0 0;
}
.nav {
    display: none;
}
@media (min-width:567px) {
    .mobile-nav {
            a {
            font-size: 14px;
            margin: 0 10px;
    }
}
    .opened {
    padding: 20px 0 0;
    }
}
@media (min-width:768px) {
.nav-item {
    padding: 10px 0 0;
    font-size: 14px;
}
}