$font-headlines: 'Lato', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// ###########
// Colors
// ##########
$accent-color: #BE8C6B;
$color-gray-light: #707070;
$color-gray: #444444;
$color-black: #000000;
$color-white: #ffffff;
