$font-headlines: 'Merriweather', serif;
$font-secondary: 'Open Sans', sans-serif;

// ###########
// Colors
// ##########
$accent-color: #f7ac53;
$color-gray-light: #707070;
$color-gray: #444444;
$color-black: #000000;
$color-white: #ffffff;
