$font-primary: 'Merriweather', serif;
$font-secondary: 'Open Sans', sans-serif;

// ###########
// Colors
// ##########
$accent-color: #f7ac53;
$color-grey-light: #707070;
$color-grey: #444444;
$color-black: #000000;
$color-white: #ffffff;
$color-light-black: #181818